.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 124rpx;
  width: 100%;
  background-color: #f9f9f9;
}

.abutton {
  display: block;
  width: fit-content;
  height: 60rpx;
  border-radius: 8rpx;
  color: rgba(16, 16, 16, 1);
  font-size: 28rpx;
  line-height: 60rpx;
  text-align: center;
  font-family: Microsoft Yahei;
  border: 1rpx solid rgba(187, 187, 187, 1);
}
