@import "../../common/style/index.scss";
@import "../../common/style/color.scss";
.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  background-color: white;

  .title{
    font-size: 60rpx;
    color: $TITLE;
    margin: 0 auto;
  }

  .InputAttachedLines {
    margin: 80rpx auto 0 auto;
    @extend %InputAttachedLines;
  }
}
