@import "../../common/style/index.scss";
@import "../../common/style/color.scss";

.container {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  background-color: white;
  margin: 100rpx auto 0 auto;

  .title{
    @extend %TitleView;
  }

  .InputAttachedLines {
    margin: 80rpx auto 0 auto;
    @extend %InputAttachedLines;
  }

  Button {
    margin: 60rpx auto 0 auto;
    @extend %ButtonForSign;
  }

  .register{
    font-size: 25rpx;
    margin: 30rpx auto 0 auto;
  }

  .tip {
    margin: 60rpx auto 0 auto;
    text-align: center;  //必要，否则Text子结点不居中
  }
}
