.labelpage {
  display: block;
}

.title {
  height: 40rpx;
  color: rgba(16, 16, 16, 1);
  font-size: 28rpx;
  text-align: left;
  font-family: PingFangSC-regular;
  display: block;
  margin: 20rpx auto 1% 10%;
  display: block;
}

.labels {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px auto;
}
