$label_height: 60rpx;
$label_width: 210rpx;
$icon_size: 40rpx;


.anlabel {
  width: $label_width;
  height: $label_height;
  margin: 20rpx 0 0 0;
  line-height: 60rpx;
  border-radius: 20rpx;
  background-color: rgba(139, 195, 74, 1);
  text-align: center;
  display: flex;
  justify-content: flex-end;

  .name {
    display: block;
    width: $label_width - 2 * $icon_size;
    font-size: 25rpx;
    color: white;
  }

  .ic {
    height: $icon_size;
    width: $icon_size;
    margin: ($label_height - $icon_size)/2 15rpx;
  }
}







