.anlabel {
  margin: 2% 4%;
  width: max-content;
  height: 26px;
  line-height: 20px;
  border-radius: 13px;
  background-color: rgba(139, 195, 74, 1);
  text-align: center;
  display: flex;
}

.ic {
  margin: 3px 6px 3px 0;
  opacity: 0;
}

.name {
  display: block;
  width: max-content;
  height: 20px;
  color: rgba(249, 249, 249, 1);
  font-size: 14px;
  text-align: left;
  font-family: PingFangSC-regular;
  margin: auto 26px auto 19px;
}
