.title {
    width: 154Px;
    height: 20Px;
    color: rgba(16, 16, 16, 1);
    font-size: 14Px;
    text-align: center;
    font-family: PingFangSC-regular;
    display: block;
    
}

.number {
    width: 154Px;
    height: 50Px;
    color: rgba(16, 16, 16, 1);
    font-size: 36Px;
    text-align: center;
    font-family: PingFangSC-regular;
    display: block;
}
.statistics {
    align-content: center;
    display: block;
    float: left;
}