@import '../../static/style/index';
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  height: 1200rpx;
  margin-top: 100rpx;

  Image {
    width: 400rpx;
    height: 400rpx;
    margin: 0 auto;
  }

  Text{
    text-align: center;
    color: #b8b8b8;
  }


  Button{
    @extend %ButtonForSign;
    color: red;
    background-color:#ffffff;
  }
}

