.text_id {
  position: fixed;
  left: 87px;
  top: 141px;
  height: 20px;
  color: rgba(16, 16, 16, 1);
  font-size: 14px;
  text-align: center;
  font-family: PingFangSC-regular;
}

.statusbar {
  width: 100%;
}
