.text_id {
  position: relative;
  left: 174rpx;
  top: 282rpx;
  height: 40rpx;
  color: rgba(16, 16, 16, 1);
  font-size: 28rpx;
  text-align: center;
  font-family: PingFangSC-regular;
}

.statusbar {
  width: 100%;
}
