@import '../../static/style/index';
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  height: 1200rpx;
  margin-top: 100rpx;

  Image {
    width: 400rpx;
    height: 400rpx;
    margin: 100rpx auto 0 auto;
  }

  Text{
    text-align: center;
    color: #b8b8b8;
  }


  Button{
    @extend %ButtonForSign;
    color: red;
    background-color:#ffffff;
    margin-top: 400rpx;
  }
}

