.text_id {
    position: fixed;
    left: 87Px;
    top: 141Px;
    height: 20Px;
    color: rgba(16, 16, 16, 1);
    font-size: 14Px;
    text-align: center;
    font-family: PingFangSC-regular;
}

.statusbar {
    width: 100%;
}