.welcome {
  height: 40px;
  color: rgba(16, 16, 16, 1);
  font-size: 28px;
  text-align: center;
  justify-content: center;
  display: flex;
  font-family: PingFangSC-regular;
  margin: 30px auto;
}
