
.welcome {
    height: 40Px;
    color: rgba(16, 16, 16, 1);
    font-size: 28Px;
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: PingFangSC-regular;
    margin:30Px auto;
}