.welcome {
  height: 80rpx;
  color: rgba(16, 16, 16, 1);
  font-size: 56rpx;
  text-align: center;
  justify-content: center;
  display: flex;
  font-family: PingFangSC-regular;
  margin: 60rpx auto;
}
