.capsule {
    left: 6Px;
    top: 52Px;
    width: 146Px;
    height: 30Px;
    line-height: 30Px;
    border-radius: 17Px;
    background-color: rgba(249, 249, 249, 1);
    color: rgba(16, 16, 16, 1);
    font-size: 14Px;
    text-align: center;
    font-family: Arial;
    position: fixed;
}

.tip {
    width: 62Px;
    height: 20Px;
    color: rgba(16, 16, 16, 1);
    font-size: 14Px;
    text-align: center;
    font-family: PingFangSC-regular;
}