@import './color.scss';

//用于多个拼在一起的输入框
%InputAttachedLines {
  //输入框宽度
  $input_width: 500rpx;
  //文字区域两边留白宽度
  $remain_white: 20rpx;

  border: 2rpx solid $BORDER;
  border-radius: 20rpx;
  width: $input_width;

  input {
    height: 80rpx;
    width: $input_width - 2 * $remain_white;
    padding: 0 $remain_white;
    border-bottom: 2rpx solid $BORDER;

    &:last-child {
      border-bottom: 0;
    }
  }
}


//按钮
%ButtonForSign {
  width: 500rpx;
  height: 80rpx;
  font-size: 30rpx;
  color: $TITLE;
}


//标题文字 View
%TitleView {
  font-size: 40rpx;
  color: $TITLE;
  margin: 0 auto;
  text-align: center;
}
