.shelvebar {
  align-content: center;
  position: relative;
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.linebetween {
  width: 90%;
  height: 0;
  border: 1rpx solid rgba(187, 187, 187, 1);
  margin: 36rpx auto 0rpx auto;
}

.content-left {
  width: 144rpx;
  height: 50rpx;
  color: rgba(16, 16, 16, 1);
  font-size: 36rpx;
  text-align: left;
  margin: 48rpx 0rpx 48rpx 12.5%;
  font-family: PingFangSC-regular;
  display: block;
}

.content-right {
  display: block;
  width: fit-content;
  margin: auto 12.5% auto 0;
}

.tip {
  width: fit-content;
  height: 40rpx;
  color: rgba(138, 133, 133, 1);
  font-size: 28rpx;
  text-align: right;
  font-family: PingFangSC-regular;
}
  