@import "../../static/style/color";

.labelpage {
  margin: 40rpx auto 0 auto;
  text-align: center;

  .title{
    color: $TITLE;
    font-size: 40rpx;
  }
}

.labels {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

