.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 62Px;
    width: 100%;
    background-color: #F9F9F9;
}

.abutton {
    display: block;
    width: fit-content;
    height: 30Px;
    border-radius: 4Px;
    color: rgba(16, 16, 16, 1);
    font-size: 14Px;
    line-height: 30Px;
    text-align: center;
    font-family: Microsoft Yahei;
    border: 1Px solid rgba(187, 187, 187, 1);
}