.title {
  width: 154px;
  height: 20px;
  color: rgba(16, 16, 16, 1);
  font-size: 14px;
  text-align: center;
  font-family: PingFangSC-regular;
  display: block;
}

.number {
  width: 154px;
  height: 50px;
  color: rgba(16, 16, 16, 1);
  font-size: 36px;
  text-align: center;
  font-family: PingFangSC-regular;
  display: block;
}
.statistics {
  align-content: center;
  display: block;
  float: left;
}
