.anlabel {
    margin: 2% 4%;
    width: 200rpx;
    height: 52rpx;
    line-height: 40rpx;
    border-radius: 26rpx;
    background-color: rgba(139, 195, 74, 1);
    text-align: center;
    display: flex;
}

.name {
    display: block;
    width: max-content;
    height: 40rpx;
    color: rgba(249, 249, 249, 1);
    font-size: 28rpx;
    text-align: left;
    font-family: PingFangSC-regular;
    margin: auto 38rpx; 
}



