.bulletin {
  align-content: center;
  display: block;
  position: relative;
}

.title {
  height: 40rpx;
  color: rgba(16, 16, 16, 1);
  font-size: 28rpx;
  text-align: left;
  font-family: PingFangSC-regular;
  display: block;
  margin: 48rpx auto 30rpx 12.5%;
}

.content {
  top: 118rpx;
  left: 96rpx;
  width: 75%;
  height: 100rpx;
  color: rgba(16, 16, 16, 1);
  font-size: 36rpx;
  text-align: left;
  font-family: PingFangSC-regular;
  display: block;
  margin: 30rpx auto;
}

.linebetween {
  width: 90%;
  height: 0;
  border: 1rpx solid rgba(187, 187, 187, 1);
  margin: 36rpx auto 0rpx auto;
  display: block;
}
